@font-face {
    font-family: "Pokemon Pixel Font Regular";
    src: url("./asset/pokemon_pixel_font.woff") format("woff");
  }

body {
    background-color: #ffcb45;
}

#content {
    background-color: white;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 250px;
    max-width: 600px;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:10px 20px;
}

.kotak1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.kotak2 {
    grid-row-start: 2;
    grid-row-end: 5;
}

.kotak3 {
    grid-column-start: 2;
    grid-column-end: 4 ;
    margin-top: 15px;
    margin-left: 25px;
}

.kotak4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.kotak5 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.navbarContent {
    margin-right: 10px;
    gap: 30px;
    display: flex;
    justify-content: flex-end;

}

h1, h4, p, button {
    margin: 10px;
    font-family: "Pokemon Pixel Font Regular", sans-serif;
}

img {
    margin: 10px ;
    width: 220px;
}

button {
    font-size: 16px;
    border: none;
    background-color: white;
    padding: 6px 10px;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(118, 213, 182);
    cursor: pointer;
}

